section.sectionContacto {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
h1.h1Contacto {
	margin-bottom: 20px;
	text-align: center;
}
.form {
	border: solid 3px black;
	padding: 50px;
	border-radius: 25px;
	background: rgba(102, 97, 97, 0.548);
	&__input{
		border: solid 2px black;
		padding: 2px;
	}
	&__textarea{
		border: solid 2px black;
		padding: 2px;
	}
	&__boton{
		@extend .boton;
	}
}
