.contNosotors{
	align-items: center;
}
.h2nosotros {
	text-align: center;
	padding: 25px;
	font-size: 50px;
}
.pNosotros {
	margin: 0 15% 0 15%;
	padding: 25px;
}
.imgNosotros {
	display: block;
	@include tamanio (300px, 300px);
	margin: auto;
	padding: 30px;
}
.imgMasTxt {
	display: flex;
	margin: 0 15% 0 15%;
	padding: 30px;
	align-items: center;
	
}
@media (max-width: 992px){
	.imgMasTxt{
	flex-direction: column;
}
}