.h2nosotros {
	text-align: center;
	padding: 25px;
	font-size: 50px;
}
.pNosotros {
	margin: 0 200px 0 200px;
	padding: 25px;
}
.imgNosotros {
	display: block;
	height: 300px;
	width: 300px;
	margin: auto;
	padding: 30px;
}
.imgMasTxt {
	width: 50%;
	margin: 20px auto;
	padding: 15px;
}