.h2nosotros {
	text-align: center;
	padding: 25px;
	font-size: 50px;
}
.pNosotros {
	margin: 0 15% 0 15%;
	padding: 25px;
}
.imgNosotros {
	display: block;
	@include tamanio (300px, 300px);
	margin: auto;
	padding: 30px;
}
.imgMasTxt {
	display: flex;
	@include ancho (50%);
	margin: auto;
	padding: 30px;
	
}