<<<<<<< HEAD
section.sectionSoporte {
	margin: 50px 25% 100px 25%;
=======
.soporte {
	margin: 50px 15% 0 15%;
	&__h1{
		margin-bottom: 50px;
		text-align: center;
		font-size: 50px;
	}
	&__h2{
		font-size: 25px;
	}
	&__img{
		margin-top: 100px;
	width: 90%;
	}
>>>>>>> 76b3b8d4472f3c26700cec943f5490c5765b3019
}
.h1soporte {
	margin-bottom: 50px;
	text-align: center;
}
.imgSoporte {
	margin-top: 100px;
	width: 90%;
}