$color_1: black;
$color_2: darkslategray;
$font-family_1: 'Lora', serif;
$font-family_2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$background-color_1: #1d2147;
$background-color_2: #50d2e4;
$background-color_3: aqua;
$background-color_4: darkorange;