@import"variables/mixin";
@import "variables/variables";
@import "variables/extend";

@import "contactos.scss";
@import "nosotros.scss";
@import "soporte.scss";
@import "tienda.scss";


* {
	margin: 0px;
	padding: 0px;
}

header {
	@include alto(30%);
}

.headerImg {
	position: relative;
	@include tamanio (100%, 450px);
	/*height: 450px;
	width: 100%;
	*/
	margin-bottom: 0px;
}

.logo {
	position: absolute;
	@include tamanio (200px, 200px);
	top: 25px;
	left: 25px;
}

.nav {
	&__ul {
		@extend .nav-ul;
		/*background-color: $bg-color_1;
		padding: 30px;
		text-align: center;
*/
		&--li {
			@extend .nav-li;
			/*list-style: none;
			background-color: $bg-color_2;
			padding: 5px;
			border-radius: 25%;
			display: inline-block;
			margin-right: 10px;*/

			&:hover {
				background-color: $bg-color_3;
				transition-duration: 1s;
			}
		}
	}
}


.tituloTabla {
	color: $color_2;
	background-color: $bg-color_4;
}

.imgNoticias {
	@include ancho(400px);
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 15%;

	&:hover {
		transform: scale(1.05);
		transition-duration: .5s;
	}
}

footer {
	background-color: $bg-color_1;
	@include ancho(100%);
}

ol {
	list-style: none;
	padding: 0%;
}

li.footer {
	img {
		@include tamanio(50px, 50px);
		/*height: 50px;
		width: 50px;
		*/
		float: left;
		margin-left: 40px;
	}

	display: inline-block;
	position: sticky;
}

.navFooter {
	margin-top: auto;
}

.olRedes {
	text-align: center;
	background-color: $bg-color_1;
}

.redes {
	@extend .footer-redes;
}

@media (max-width:770px) {
	.bodyIndex {
		flex-direction: column;
		align-items: center;

	}
	.imgNoticias {
		display: none;
	}
}

@media (max-width:380px) {
	.bodyIndex {
		flex-direction: column;
		align-items: center;
	}

	.imgNoticias {
		display: none;
	}
}


@media(max-width: 770px){
	.nav-link{
		color: cadetblue;
	}
}