$color_1: black;
$color_2: darkslategray;
$font-lora: 'Lora', serif;
$font-Trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$bg-color_1: #1d2147;
$bg-color_2: #50d2e4;
$bg-color_3: aqua;
$bg-color_4: darkorange;
$bg-color_5: #eee23b;